@font-face {
  font-family: Roboto;
  src: local("Roboto"), url("~font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Noto Sans TC;
  src: local("Noto Sans TC"), url("~font/Noto_Sans_TC/NotoSansTC-Regular.otf");
}
