// 設定字體
*,
html,
body {
  font-family: "Roboto";
}


.h-190px {
  height: 190px;
  object-fit: cover;
}

.bg-icon-location {
  background-image: url("~img/icon-location.svg");
  background-repeat: no-repeat;
  background-size:auto;
  background-position: 12px center;
  padding-left: 40px;
}

.icon-location {
  transform: translateX(-10000px);
  filter: drop-shadow(10000px 0 0 $color_blue)
}

// 固定式導覽列
header .container {
  height: 80px;

  .btn-like {
    color: $color_black;
  }
  .btn-like:hover {
    color: $color_red;
    border: 1px solid $color_red;
    img {
      transform: translateX(-10000px);
      filter: drop-shadow(10000px 0 0 $color_red)
    }
  }
}



// banner & 搜尋列 
.banner {
  transition: 0.2s;
  height: 50vh;
  background-image: url("~img/banner-attractions.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  // 標題
  h1 {
    color: $color_white;
    font-size: 80px;
    text-shadow: 0px 3px 6px #00000029;
  }

  .btn-search {
    background-color: $color_white;
    color: $color_grey_2;
  }

  .btn-search:hover {
    background-color: $color_red;
    color: $color_white;
    border: 1px solid $color_red;

    img {
      transform: translateX(-10000px);
      filter: drop-shadow(10000px 0 0 $color_white);
    }
  }

  .btn-check:checked + .btn-search {
    background-color: $color_red;
    color: $color_white;
    border: 1px solid $color_red;

    img {
      transform: translateX(-10000px);
      filter: drop-shadow(10000px 0 0 $color_white);
    }
  }

  .btn-check:focus + .btn, .btn-search:focus {
    box-shadow: 0 0 0 0;
  }
}


// 內容
.content {
  background-color: $color_grey_1;

  h3 {
    color: $color_black;
  }

  .form-select {
    width: 80px;
  }



  .card-image{
    transition: 0.5s;
    transform-origin: 50% 100%
  }


  .card:hover {
    border: 1px solid $color_red;
    .card-image {
      transform: scale(1.1,1.1);
    }
  }
}

// 頁尾
.footer {
  small {
    color: $color_grey_2;
    line-height: 60px;
  }
}


// JavaScript動態設定
.logo-drop{
  transform: translateX(-10000px);
  filter: drop-shadow(10000px 0 0 $color_blue)
}