// 設定字體
*,
html,
body {
  font-family: "Roboto";
}

.h-190 {
  height: 190px;
  object-fit: cover;
}

.icon-location {
  transform: translateX(-10000px);
  filter: drop-shadow(10000px 0 0 $color_blue)
}

nav {
  height: 80px;

  .btn-light {
    color: $color_black;
  }
  .btn-light:hover {
    color: $darker-red;
    border: 1px solid $darker-red;
    img {
      transform: translateX(-10000px);
      filter: drop-shadow(10000px 0 0 $darker-red)
    }
  }
}

.logo-drop{
  transform: translateX(-10000px);
  filter: drop-shadow(10000px 0 0 $color_blue)
}

.banner {
  height: 50vh;
  background-image: url("~img/banner-attractions.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  h1 {
    color: $color_white;
    font-size: 80px;
    text-shadow: 0px 3px 6px #00000029;
  }

  .btn.btn-light {
    color: $color_grey_2;
  }

  .btn.btn-light:hover {
    background-color: $darker_red;
    color: $color_white;
    border: 1px solid $darker_red;

    img {
      transform: translateX(-10000px);
      filter: drop-shadow(10000px 0 0 $color_white);
    }
  }

  .btn-check:checked.btn.btn-light {
    background-color: $darker_red;
    color: $color_white;
    border: 1px solid $darker_red;
  }
}

.content {
  background-color: $color_grey_1;

  h3 {
    color: $color_black;
  }

  .form-select {
    width: 80px;
  }



  .card-image{
    transition: 0.5s;
    transform-origin: 50% 100%
  }


  .card:hover {
    border: 1px solid $color_red;
    .card-image {
      transform: scale(1.1,1.1);
    }
  }
}

.footer {
  small {
    color: $color_grey_2;
    line-height: 60px;
  }
}